<div class="app-quiz-cards">
    <div *ngIf="questionBank">
        <mat-card class="p-4 mat-card-active quiz-header" (click)="readonly = false">
            <div *ngIf="!readonly">
                <mat-form-field appearance="fill" class="w-100 quiz-name mt-3">
                    <mat-label>Quiz Name</mat-label>
                    <input matInput [(ngModel)]="quizName" class="text-capitalize">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="quizDescription" class="text-capitalize">
                </mat-form-field>
            </div>
            <div *ngIf="readonly">
                <p class="mt-3 quiz-name text-capitalize">{{quizName || 'Blank Quiz'}}</p>
                <p class="mt-3 mb-4 text-secondary text-capitalize">{{quizDescription || 'Description'}}</p>
                <mat-divider></mat-divider>
                <div class="row mt-5 justify-content-between pl-3 pr-3 text-secondary">
                    <div class="col-xs-6">Total Question : <span class="font-weight-bold">{{questionBank.length}}</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="float-right">
                            Total Marks : <span class="font-weight-bold">{{calculateTotalMarks()}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="text-center mb-2 mt-3">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <mat-card class="p-4 mb-3" *ngFor="let data of questionBank, let i = index" (click)="editQuestion(data)"
            [ngClass]="{'mat-card-active': data.readonly === false}">
            <span class="float-right" *ngIf="data.readonly && isQuestionValid(data)" matTooltip="Invalid Question">
                <mat-icon class="invalid-question">lens</mat-icon>
            </span>
            <div class="row question-header" *ngIf="!data.readonly">
                <div class="col-sm-7">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Question</mat-label>
                        <input matInput [(ngModel)]="data.question">
                    </mat-form-field>
                </div>
                <div class="col-sm-5">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Question Type</mat-label>
                        <mat-select matNativeControl [(ngModel)]="data.questionType">
                            <mat-option *ngFor="let option of questionType" [value]="option.id">
                                <i class="mr-2" [ngClass]="option.iconClass"></i>
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row" *ngIf="data.readonly">
                <div class="col-sm-12">
                    <h3 class="m-0">{{i+1}}. {{data.question.trim() || 'Question'}} </h3>
                </div>
            </div>

            <div [ngSwitch]="data.questionType">
                <question-multiple-choice *ngSwitchCase="1" [data]="data">
                </question-multiple-choice>
                <question-checkbox *ngSwitchCase="2" [data]="data"></question-checkbox>
            </div>

            <mat-divider *ngIf="!data.readonly"></mat-divider>

            <div class="row justify-content-between pt-4 pl-3 pr-3" *ngIf="!data.readonly">
                <div class="col-xs-7">
                    <button mat-stroked-button color="primary" matTooltip="Add new question" class="p-0 pl-2 pr-2"
                        (click)="addQuestion(i)">
                        <span>New<span class="m-hide ml-1">question</span></span>
                    </button>
                    <button mat-icon-button color="basic" class="btn-hover ml-3" (click)="minusMarks(data.id)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                    <span class="font-weight-bold">{{data.points}} <span class="m-hide">Marks</span></span>
                    <button mat-icon-button color="basic" class="btn-hover" (click)="addMarks(data.id)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
                <div class="col-xs-5">
                    <button mat-icon-button color="basic" class="btn-hover float-right" matTooltip="Delete Question"
                        (click)="deleteQuestion(data.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <mat-slide-toggle color="primary" class="pt-2 float-right mr-2" [checked]="data.required"
                        [(ngModel)]="data.required" matTooltip="Required">
                        <span class="m-hide">Required</span>
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="text-right" *ngIf="data.readonly">
                <span class="text-secondary">{{data.points}} Marks</span>
            </div>
        </mat-card>
    </div>
    <div class="row w-100 mt-3 mb-3 pl-3 pr-3 footer">
        <mat-card class="footer-card shadow pl-5 pr-5">
            <button mat-icon-button color="basic" class="btn-hover" matTooltip="Add new question"
                (click)="addQuestion(questionBank.length - 1)">
                <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button color="basic" class="btn-hover" matTooltip="Settings" (click)="openSettings()">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button color="basic" class="btn-hover" matTooltip="Starts over" (click)="startsOver()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-raised-button color="basic" class="ml-2" (click)="submit()">
                Save
            </button>
        </mat-card>
    </div>
</div>