<div class="pb-3 app-settings-panel">
    <mat-list>
        <div mat-subheader class="header"> 
            <span>Settings</span>
        </div>
        <mat-list-item>
            <mat-icon mat-list-icon>shuffle</mat-icon>
            <div mat-line>
                Shuffle Question
                <mat-slide-toggle color="primary" class="ml-2" [(ngModel)]="settings.shuffleQuestions"> </mat-slide-toggle>
            </div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>access_time</mat-icon>
            <div mat-line>
                Timer
                <mat-slide-toggle color="primary" class="ml-2" [(ngModel)]="settings.timer.status"> </mat-slide-toggle>
                <mat-form-field appearance="fill" class="ml-4 minute-field" style="margin-top: 0.6rem;" *ngIf="settings.timer.status">
                    <mat-label>Minuts</mat-label>
                    <input matInput type="number" value="30" [(ngModel)]="settings.timer.duration">
                </mat-form-field>
            </div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>remove_circle</mat-icon>
            <div mat-line>
                Negative Marking
                <mat-slide-toggle color="primary" class="ml-2" [(ngModel)]="settings.negativeMarking"> </mat-slide-toggle>
            </div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>text_snippet</mat-icon>
            <div mat-line>
                Show Result
                <mat-slide-toggle color="primary" class="ml-2" [(ngModel)]="settings.showResult"> </mat-slide-toggle>
            </div>
        </mat-list-item>
    </mat-list>
    <div class="pr-2 text-right" *ngIf="false">
        <button mat-raised-button color="basic" class="settings-btn" (click)="settingsDismiss(settings)">Save</button>
    </div>
</div>