.mat-card {
    border: 1px solid #d7d9dd;
    box-shadow: none;
    border-radius: 10px;
    .box-shadow {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    &:hover {
        border-left: 5px solid #868aff;
        @extend .box-shadow;
    }
    .mat-content {
        display: flex;
        justify-content: space-between;
    }
    .title {
        font-weight: 400 !important;
    }
    .btn-delete {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
