<button mat-raised-button color="basic" class="mb-3" (click)="navigateToQuestionBank(0)">
    Create New
</button>
<div *ngIf="questionList.length > 0">
    <mat-card class="p-4 mb-3 text-capitalize" *ngFor="let list of questionList" (mouseover)="list.showDelete = true;"
        (mouseleave)="list.showDelete = false">
        <button mat-icon-button color="basic" class="btn-hover btn-delete" matTooltip="Delete"
            *ngIf="!isMobileView && list.showDelete" (click)="$event.stopPropagation(); deleteQuestionBank(list.id)">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button #deleteHide mat-icon-button color="basic" class="btn-hover btn-delete" matTooltip="Delete"
            *ngIf="isMobileView" (click)="$event.stopPropagation(); deleteQuestionBank(list.id)">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <h2 class="mb-0 title" (click)="navigateToQuestionBank(list.id)"> {{list.quizName || 'Quiz Name'}} </h2>
        <p class="mb-0 text-secondary"> {{list.quizDescription || 'Desciption'}} </p>
        <div class="mat-content mt-3 text-secondary">
            <p class="mb-0">Total Questions : {{list.questions.length}}</p>
            <p class="mb-0">Total Marks : {{calculateTotalMarks(list)}}</p>
        </div>
    </mat-card>
</div>