<button ak-attr="btn-create-new" name="ak-btn-create-new" id="ak-btn-create-new" mat-raised-button color="basic" class="mb-3 ak-btn-create-new" (click)="navigateToQuestionBank(0)">
    Create New
</button>
<div *ngIf="questionList.length > 0">
    <mat-card class="p-4 mb-3 text-capitalize text-selection-none" *ngFor="let list of questionList; let i=index;"
        (mouseover)="list.showDelete = true;" (mouseleave)="list.showDelete = false" id="{{'question-bank-'+i}}">
        <button mat-icon-button color="basic" class="btn-hover btn-delete" matTooltip="Delete"
            *ngIf="!isMobileView && list.showDelete" (click)="$event.stopPropagation(); deleteQuestionBank(list.id)">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button ak-attr="delete-question-bank" mat-icon-button color="basic" class="btn-hover btn-delete" matTooltip="Delete" *ngIf="isMobileView"
            (click)="$event.stopPropagation(); deleteQuestionBank(list.id)">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <h2 class="mb-0 title" ak-attr="ak-quiz-name-action" id="ak-quiz-name-action" (click)="navigateToQuestionBank(list.id)"> {{list.quizName || 'Quiz Name'}} </h2>
        <p class="mb-0 text-secondary"> {{list.quizDescription || 'Desciption'}} </p>
        <div class="mat-content mt-3 text-secondary">
            <p class="mb-0" ak-attr="ak-total-question" id="ak-total-question">Total Questions : {{list.questions.length}}</p>
            <p class="mb-0" ak-attr="ak-total-marks" id="ak-total-marks">Total Marks : {{calculateTotalMarks(list)}}</p>
        </div>
    </mat-card>
</div>

<div *ngIf="questionList.length === 0">
    <app-empty-state [message]="'No data available.'"></app-empty-state>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>